:root {
    --mainColor :#FF305B;
    --sectionPadding:100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Start conponent */

/* End conponent */

/* start container*/

.container {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    }
    /* Small */
@media(min-width:768px) {
    .contaner {
        width: 750px;
    }
}

/* meduim */
@media(min-width:992px) {
    .contaner {
        width: 790px;
    }
}

/* large */
@media(min-width:1200px) {
    .contaner {
        width: 1170px;
    }
}

/* end container*/

.title> h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    color: #333333;
    font-size: 35px;
    font-weight: 700;
    position: relative;
}

.title> h2::before {
    content: "";
    position: absolute;
    width: 6.5%;
    height: 10px;
    bottom: -16px;
    left: 46%;
    border: 1px solid;
    border-color: var(--mainColor) transparent;
}

.title>h2::after {
    content: "";
    position: absolute;
    width: 13%;
    height: 1px;
    bottom: -10px;
    left:43%;
    background-color: var(--mainColor);
}

/* Start header */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header >a {
    color: var(--mainColor);
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
}

.header >a:hover {
    text-decoration: none;
}

.links ul  {
    display: flex;
    flex-direction: flex-end;
    list-style-type: none;
}

.links li a {
    text-decoration: none;
    margin-right: 10px;
    padding: 5px;
    color: white;
}

.links li a:hover {
    color: var(--mainColor);
}

/* End header */

/* Start Lading */

.landing {
    background-image:linear-gradient(rgba(0, 0, 0, 0.683),rgba(0, 0, 0, 0.306)), url(/image/hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.intor-text {
    text-align: center  ;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.intor-text h3 {
    font-size: 24px;
    font-weight: 600;   
}

.intor-text h1 {
    color: var(--mainColor);
    font-size: 70px;
    margin: 0;
}

.intor-text h4 {
    font-size: 26px;
    font-weight: 300;
}

/* End Landing */

/* Start About */

.about .container {
    display: flex;
    justify-content: space-around;
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    padding-left: 50px;
    overflow: hidden;
}

.about .img {
    position: relative;
    width: 30%;
    /* overflow: hidden; */
}

.about .image1 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.about .icon {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0; 
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 1s ;
} 

.about .icon i {
    font-size: 20px;
    color:white ;
    margin-left: 10px;
}

.img:hover .icon {
    transform: translateY(0);
    opacity: 1;
}

.img::before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    right: 35px;
    top:-30px;
    border: 7px solid #555555;
    border-radius: 7px;
    z-index: -1;
}

.about .text {
    width: 50%;
    font-size: 16px;
    color: #555555;
}

.about .text h2 {
    font-size: 34px;
    font-weight: 600;
    margin-top:0 ;
}

.about .text h2::first-letter {
    color: var(--mainColor);
}

.about .text p {
    line-height: 1.6;
    padding-bottom: 20px;
    border-bottom: 1px dashed #555555;
}

.about ul {
    column-count: 2;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    padding-top: 15px;
}

.about li span {
    font-weight: 700;
    color: black;
}
.about li {
    margin-bottom: 20px;
}

.about li a {
    text-decoration: none;
    color: #555555;
}

.button button {
    padding: 10px;
    color: white;
    background-color: var(--mainColor);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.about button:hover {
    background-color: #EC2403;
}

/* End About */

/* Start Service */

.service {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: #F1F1F1;
}

.service .service-content {
    display: flex;
}

.service  .service-item {
    width: 25%;
    text-align: center;
    padding: 15px;
    margin-right:5px ;
    transition: all 0.5s;
}

.service-item i {
    font-size: 30px;
    color: var(--mainColor);
    transition: all 0.5s;

}

.service-item h3 {
    color: #333333;
    font-size: 22px;
}

.service-item p {
    color: #555555;
    font-size: 16px;
    line-height: 1.3;
}

.service-item:hover {
    box-shadow: 10px 10px 8px #888888;
    background-color: white;
}

.service-item:hover i {
    transform: scale(1.3);
}

/* End Service */

/* Start portfoilo */

.portfoilo {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.portfoilo .buttons {
    text-align: center;
    margin-bottom: 40px;
}

.portfoilo .buttons button {
    background-color: white;
    border: none;
    color: #333333;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.portfoilo .buttons button:hover {
    color: var(--mainColor);
}

.portfoilo img {
    max-width: 100%; 
}

.portfoilo .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
}

.portfoilo .photos div {
    position: relative;
}

.portfoilo .photos div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;
}

.portfoilo .photos div:hover::after {
    opacity: 1;
}   

/* End portfoilo */

/* Start Section  */

.sectionPart {
    background-color: #F1F1F1;
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.sectionPart .section-item {
    text-align: center;

}

.sectionPart .section-item i {
    color: var(--mainColor);
    font-size: 26px;
}

.sectionPart .section-item h3 {
    font-size: 24px;
    font-weight: 700;
    color: #333333;
}

.sectionPart .section-item h5 {
    color: #555555;
    font-size: 14px;
    font-weight: 500px;
    margin: 0;
}

.sectionPart .section-content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:20px
}

/* End Section  */

/* Start Feedback */

.feedback {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.feedback-content {
    margin: 20px auto;
    padding-block: 30px;
    padding-left: 66px;
    padding-right: 30px;
    display: flex;
    background-color: #F1F1F1;
    width: 60%;
    max-width: 100%;
    position: relative;
}

.feedback-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 75px solid;
    border-color: var(--mainColor) transparent transparent var(--mainColor);
}

.feedback-content img {
    z-index: 22;
    position: relative;
    top:15%;  
    left: -5%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.feedback-content .text h3 {
    margin: 15px 0;
    color: #333333;
    font-size: 24px;
    font-weight: 600;
}

.feedback-content .text h4 {
    margin: 0;
    color: #777777;
    font-size: 15px
}

.feedback-content i {
    margin-right: 4px;
}

.feedback-content .text p {
    color: #555555;
    font-size: 14px;

}

.feedback-content ul {
    padding: 0;
    display: flex;
}

.feedback-content ul li {
    list-style-type: none;
}

.feedback-content  ul i {
    color: #F1C30D;
    font-size: 15px;
}

.feedback-content ul li:last-child i {
    color: #f1c30d69;
}

/* End Feedback */

/* Start Blog  */

.blog {
padding-block: var(--sectionPadding);
background-color: #f1f1f1;
}
.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 35px;
}

.blog .blog-item {
    background-color: white;
}

.blog .blog-item iframe {
    width: 100%;
}

.blog .blog-item img {
    max-width: 100%;
}

.blog-item .blog-text {
    padding: 15px;
}

.blog-item .blog-text h3 {
    color: #333333;
}

.blog-item .blog-text p {
    line-height: 1.5;
    color: #555555;
}

/* End Blog  */

/* Start Contact */

.contact {
    padding-block: var(--sectionPadding);

}

.contact-form {
    width: 70%;
    margin: auto;
}

.contact-form input, textarea {
    border: 2px solid #f1f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;

}

.contact-form .name-email input {
    width: 48.5%;
    
}

.contact-form input, textarea  {
    width: 100%;
}

.contact-form button {
    border: none;
    background-color: var(--mainColor);
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-left:10px;
    margin-top: 20px;
}

/* End Contact */

/* Start footer */

.footer {
    padding-block: 60px;
    background-color: #333333;
}

.footer .footer-content {
    color: white;
    text-align: center;
}

.footer .footer-content i {
    margin-left: 15px;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .footer-content i:hover{
    color: var(--mainColor);
    cursor: pointer;
}

.footer .footer-content span {
    color: var(--mainColor);
}

/* End footer */